.container {
  display: grid;
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 6px;
}

.delete-drop-on {
  background: red;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.weeks-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.dates-container {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  width: 100%;
}

.tasks-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  width: 100%;
}
